asttokens
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
easyocr
executing
filelock
fonttools
fsspec
idna
imageio
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
ninja
numpy
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pyclipper
Pygments
pyparsing
python-bidi
python-dateutil
pywin32
PyYAML
pyzmq
requests
scikit-image
scipy
shapely
six
stack-data
sympy
tifffile
torch
torchvision
tornado
traitlets
typing_extensions
urllib3
wcwidth
