# ast
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
bitarray
blinker
certifi
charset-normalizer
ckzg
click
colorama
contourpy
cycler
cytoolz
eth-account
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
eth-utils
eth_abi
filelock
Flask
Flask-SQLAlchemy
fonttools
frozenlist
fsspec
greenlet
hexbytes
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
mpmath
multidict
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
pandas
parsimonious
pillow
propcache
psutil
psycopg2
pyclipper
pycryptodome
pydantic
pydantic_core
pyparsing
python-bidi
python-dateutil
python-dotenv
pytz
pyunormalize
pywin32
PyYAML
regex
requests
rlp
scipy
setuptools
shapely
six
SQLAlchemy
sympy
tifffile
toolz
torch
tqdm
types-requests
typing_extensions
tzdata
urllib3
web3
websockets
Werkzeug
yarl
ultralytics==8.0.114
pandas
opencv-python
numpy
scipy
easyocr
filterpy